Flask==2.3.3
gunicorn==21.2.0
numpy==1.26.4
pandas==2.2.2
nltk==3.8.1
requests==2.31.0
openai
yfinance==0.2.18
beautifulsoup4
matplotlib
python-dotenv==1.0.0
pytz==2023.3
authlib==1.3.1
ta==0.11.0
Flask-CORS==4.0.0
tweepy==4.14.0
praw==7.7.1
textblob==0.17.1
scikit-learn==1.3.0
scipy==1.11.1
newsapi-python==0.2.7
feedparser==6.0.10
